appnope
asttokens
certifi
chardet
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
filelock
filetype
fonttools
fsspec
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
py-cpuinfo
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
requests
requests-toolbelt
roboflow
scikit-learn
scipy
seaborn
six
stack-data
supervision
sympy
threadpoolctl
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
zipp
